# RPG Maker MV Project
audio/
fonts/
icon*.png
index.html
img/animations/
img/characters/
img/enemies/
img/faces/
img/parallaxes/
img/pictures/
img/sv_actors/
img/sv_enemies/
img/system/
img/tilesets/
js/plugins.js
js/rpg_*.js
js/libs/pixi.js/
js/libs/pixi-tilemap/
js/libs/pixi-picture/
json/animations.json
json/Actors.json
json/CommonEvents.json
json/Enemies.json
json/Items.json
json/Skills.json
json/States.json
json/System.json
json/Troops.json
json/Weapons.json
package-lock.json